<div class="static-image-wrapper">
    <picture>
        <source srcset="
            ./img/home-women-taking-break.jpg 1x,
            ./img/home-women-taking-break@2x.jpg 2x" media="(min-width: 1440px)">

        <!-- Для екранів від 768px до 1167px -->
        <source srcset="
            ./img/home-women-taking-break-p.jpg 1x,
            ./img/home-women-taking-break-p@2x.jpg 2x" media="(min-width: 768px)">

        <!-- Для екранів менше 768px -->
        <img src="./img/home-women-taking-break-m.jpg" srcset="
            ./img/home-women-taking-break-m.jpg 1x,
            ./img/home-women-taking-break-m@2x.jpg 2x" alt="Talking women" class="static-image">
    </picture>
</div>
<div class="static-block">
    <div class="static-block-icon">
        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <use href="./img/icons.svg#icon-dumbbell"></use>
        </svg>
    </div>
    <div class="static-block-body">
        <h3 class="static-block-title">Today <span class="all-time"></span> / 110 min</h3>
        <h3 class="static-block-title">You've burnt <span class="calories"></span> kcal today</h3>
        <div class="static-block-small-text">Daily norm of sports</div>
        <p class="static-block-text">
            The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day? While it might seem like a high number to hit, dedicating 110 minutes daily to sporting activities may offer unparalleled benefits to physical health, mental well-being, and overall quality of life. </p>
    </div>
</div>