<ul class="norm-of-sports">
    <li class="norm-of-sports-card">
        <svg class="dumbell-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-dumbbell"></use>
        </svg>

        <p class="exercise-time">110 min</p>
        <p class="daily-norm-of-sports">Daily norm of sports</p>
    </li>
    <li class="norm-of-sports-card no-paddings">
        <img 
            class="women-outdoors-card"
            src="./img/favorits-women-m.jpg"
            alt="Women sportswear working out outdoors"
            style="object-fit: cover"
        />
    </li>
</ul>
