<footer class="container">
    <div class="footer-container">
        <a class="logo" href="./">
            <svg class="logo-icon" height="24" width="132">
                <use href="./img/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <ul class="footer-socials socials">
            <load src="partials/socials.html" />
        </ul>
        <div class="footer-text">
            <p>Transforming your <em>body</em> shape with us</p>
        </div>
        <form class="footer-form">
            <p class="footer-subscribe-title">Subscribe and learn about new exercises!</p>
            <input class="footer-input" placeholder="Email" type="email">
            <button class="footer-button" type="submit">Send</button>
        </form>
        <div class="footer-bottom">
            <div class="footer-rights">
                <p>Your Energy. All rights reserved.</p>
            </div>
            <div class="footer-bottom-row">
                <div class="footer-links">
                    <a href="#">Privacy Policy</a>
                    <p>/</p>
                    <a href="#">Terms of Service</a>
                </div>
                <div class="copyright">
                    <p>©2023</p>
                </div>
            </div>
        </div>
    </div>
</footer>
