<ul class="norm-of-sports">
    <li class="exercise-card">
        <div class="top-row">
            <div class="rating">
                <svg class="trash-icon" width="18" height="18">
                    <use href="./img/icons.svg#icon-dumbbell"></use>
                </svg>
            </div>
        </div>
        <div class="exercise-info">
            <p class="badge">110 min</p>
        </div>
        <div class="details">
            <p>Daily norm of sports</p>
        </div>
    </li>
    <li class="">
        <img
            class="women-outdoors-card"
            src="../img/favorits-women-m.jpg"
            alt="Women sportswear working out outdoors"
            style="object-fit: cover;"
        />
    </li>
</ul>
