:root {
    /* fonts */
    --font-family: "DM Sans", sans-serif;

    /* colors */
    --clr-black: rgb(var(--black));
    --clr-black-10: rgba(var(--black), 0.1);
    --clr-black-20: rgba(var(--black), 0.2);
    --clr-black-50: rgba(var(--black), 0.5);
    --clr-black-linear: linear-gradient(
        114deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 100%
    );
    --clr-green: #4dc274;
    --clr-green-active: #38AE5F;
    --clr-green-10: rgba(77, 194, 116, 0.1);
    --clr-green-dark: #38ae5f;
    --clr-light-green: #d4fde1;
    --clr-gray: var(--grey);
    --clr-white: rgb(var(--white));
    --clr-white-10: rgba(var(--white), 0.1);
    --clr-white-40: rgba(var(--white), 0.4);
    --clr-white-50: rgba(var(--white), 0.5);
    --clr-white-60: rgba(var(--white), 0.6);
    --clr-white-70: rgba(var(--white), 0.7);
    --clr-green-linear: linear-gradient(80deg, #4dc274 0%, #bee8cc 100%);

    /* animation */
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /* breaking points */
    --bp-mobile: 320px;
    --bp-tablet: 768px;
    --bp-desctop: 1280px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "DM Sans", serif;
    font-weight: 500;
    color: var(--clr-black);
    background-color: var(--clr-white);
    min-width: 320px;

    /*  For better font rendering */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-smooth: antialiased; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

p {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: var(--clr-black-50);
}

img {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
