.favorites-page {
    padding-top: 60px;
}

.favorites {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.norm-of-sports {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.static-wrapper {
    margin-top: 20px;
    max-width: 335px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.norm-of-sports-card {
    width: 100%;
    height: 119px;
    padding: 20px;
    background-color: var(--color-workout-bg);
    border-radius: 15px;
}

.women-outdoors-card {
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.pagination {
    margin-top: 20px;
    gap: 0px;
}

.exercise-time {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    color: var(--color-main-dark);
    margin-top: 15px;
    margin-bottom: 6px;
}

.daily-norm-of-sports {
    color: var(--color-fav-sports);
}

@media only screen and (min-width: 768px) {
    .static-wrapper {
        max-width: 704px;
        margin-top: 32px;
    }

    .norm-of-sports {
        flex-direction: row;
        gap: 16px;
    }

    .favorites {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 32px;
        column-gap: 16px;
        justify-content: space-between;
    }

    .norm-of-sports-card {
        width: 344px;
        height: 141px;
        padding: 25px;
    }

    .pagination {
        margin-top: 32px;
    }

    .favorites {
        margin-top: 56px;
    }

    .static-wrapper .quote-of-day {
        width: 100%;
    }
}

.no-paddings {
    padding: 0;
}

@media only screen and (min-width: 1440px) {
    .static-wrapper {
        max-width: 494px;
    }

    .women-outdoors-card {
        width: 239px;
    }

    .pagination {
        display: none;
    }

    .favorites-blocks-wrapper {
        display: flex;
        gap: 32px;
    }

    .favorites {
        margin-top: 32px;
    }

    .favorites-page .container .section-title {
        font-size: 44px;
    }

    .favorites .exercise-card {
        width: 405px;
    }

    .favorites-scroll-container {
        max-height: 550px;
        overflow-y: scroll;
        padding-right: 16px;
        scrollbar-width: thin;
    }

    .favorites-scroll-container::-webkit-scrollbar {
        width: 8px;
    }

    .favorites-scroll-container::-webkit-scrollbar-track {
        background: var(--color-fav-scroll-bg);
    }

    .favorites-scroll-container::-webkit-scrollbar-thumb {
        background-color: var(--color-main-dark);
        border-radius: 4px;
    }
}

.pagination-button {
    border: none;
    background: none;
    font-size: 20px;
    color: var(--color-pager-light);
}

.pagination-button.active {
    width: 31px;
    height: 31px;
    color: var(--color-main-dark);
    border: 1px solid var(--color-main-dark);
    border-radius: 50%;
}

.delete-btn {
    background: none;
    border: none;
}

.trash-favorite {
    display: flex;
    align-items: center;
    gap: 8px;
}

.no-favorites {
    text-align: center;
}
